<h2 mat-dialog-title class="mb-0">Delete Category test</h2>
<mat-dialog-content class="mat-typography py-3 overflow-hidden">
    <p class="text-[1rem]">Are you sure you want to delete?</p>

    <mat-dialog-actions align="end" class="flex gap-4 items-center">
        <button
            mat-dialog-close
            class="border border-myAccent text-myAccent bg-transparent rounded px-4 py-2"
        >
            Cancel
        </button>
        <button
            class="bg-myAccent text-white border border-myAccent hover:bg-accentHover transition rounded px-4 py-2"
            [mat-dialog-close]="true"
            cdkFocusInitial
            (click)="deleteCategory()"
        >
            Delete
        </button>
    </mat-dialog-actions>
</mat-dialog-content>
