<section
    class="m-5 sm:m-10 p-4 sm:p-6 bg-white rounded-lg w-full flex flex-col gap-4"
>
    <!-- Breadcrumb -->
    <div class="sm:flex hidden gap-2 items-center">
        <mat-icon
            class="text-black hover:text-myAccent transition-all w-[22px] h-[22px] cursor-pointer"
            svgIcon="heroicons_outline:home"
            (click)="navigateToHome()"
        >
        </mat-icon>
        <p>Roles and Permission</p>
        <span>/</span>
        <p class="font-semibold text-myAccent">Add User</p>
    </div>

    <!-- Title -->
    <h3 class="font-bold text-[1.5rem] text-center sm:text-left">Add User</h3>

    <!-- Content -->
    <form
        class="p-4 sm:p-8 shadow-md rounded-md flex flex-col gap-10 items-center justify-between"
    >
        <div
            class="grid grid-cols-1 sm:grid-cols-2 gap-8 w-full justify-center"
        >
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="user-name"
                    >Name <span class="text-red-600">*</span></label
                >
                <input
                    id="user-name"
                    type="text"
                    placeholder="Enter Name"
                    class="border border-myAccent p-2 rounded"
                />
            </div>

            <div class="flex flex-col gap-2">
                <label class="font-medium" for="user-email"
                    >Email <span class="text-red-600">*</span></label
                >
                <input
                    id="user-email"
                    type="text"
                    placeholder="Enter Email"
                    class="border border-myAccent p-2 rounded"
                />
            </div>

            <div class="flex flex-col gap-2">
                <label class="font-medium" for="user-password"
                    >Password <span class="text-red-600">*</span></label
                >
                <input
                    id="user-password"
                    type="text"
                    placeholder="Enter Password"
                    class="border border-myAccent p-2 rounded"
                />
            </div>

            <div class="flex flex-col gap-2 w-full">
                <label for="user-role" class="font-medium"
                    >Role<span class="text-red-600">*</span></label
                >
                <mat-form-field class="w-full mt-0">
                    <mat-select
                        #clubs
                        matInfix
                        disableOptionCentering
                        placeholder="Select User Role"
                    >
                        <mat-option *ngFor="let role of roles" [value]="role.id"
                            >{{ role.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <button
            type="submit"
            class="py-2 px-10 rounded self-end text-white transition-all hover:bg-accentHover bg-myAccent w-fit"
        >
            Add User
        </button>
    </form>
</section>
