<h2 mat-dialog-title class="mb-0">Account Details</h2>
<mat-dialog-content
    class="mat-typography py-3 sm:overflow-hidden overflow-y-auto"
>
    <div
        class="flex flex-wrap items-center mx-auto w-fit justify-start gap-10 mt-4"
    >
        <div class="flex flex-col items-start">
            <p class="font-semibold text-[1.1rem] text-myAccent">
                Account Holder Name
            </p>
            <p>Farves Safiyudeen</p>
        </div>
        <div class="flex flex-col items-start">
            <p class="font-semibold text-[1.1rem] text-myAccent">
                Account Number
            </p>
            <p>88999djkf88565</p>
        </div>
        <div class="flex flex-col items-start">
            <p class="font-semibold text-[1.1rem] text-myAccent">IFSC Code</p>
            <p>1100ifsc</p>
        </div>
        <div class="flex flex-col items-start">
            <p class="font-semibold text-[1.1rem] text-myAccent">Bank Name</p>
            <p>Indian Bank</p>
        </div>
        <div class="flex flex-col items-start">
            <p class="font-semibold text-[1.1rem] text-myAccent">
                Account Type
            </p>
            <p>Savings Account</p>
        </div>
        <div class="flex flex-col items-start">
            <p class="font-semibold text-[1.1rem] text-myAccent">
                Created Date
            </p>
            <p>Farves Safiyudeen</p>
        </div>
        <div class="flex flex-col items-start">
            <p class="font-semibold text-[1.1rem] text-myAccent">
                Account Balance
            </p>
            <p><span>₹</span>20,000</p>
        </div>
    </div>

    <mat-dialog-actions align="end" class="flex gap-4 items-center">
        <button
            class="bg-myAccent text-white border border-myAccent hover:bg-accentHover transition rounded px-4 py-2"
            [mat-dialog-close]="true"
            cdkFocusInitial
        >
            Close
        </button>
    </mat-dialog-actions>
</mat-dialog-content>
