@media (min-width: 900px) {
    .card-alignment {
        flex-direction: row !important;
    }
}
@media (min-width: 1170px) {
    .gap6 {
        gap: 1.5rem !important;
    }

    .w80 {
        width: 80px !important;
    }
}
