<section
    class="m-5 sm:m-10 p-4 sm:p-6 bg-white rounded-lg w-full flex flex-col gap-4 overflow-y-scroll"
>
    <!-- Date Range Filter -->
    <mat-form-field appearance="fill" class="my-4 w-full sm:w-[25rem]">
        <mat-date-range-input [rangePicker]="picker" placeholder="Select Date">
            <input matStartDate placeholder="Start date" />
            <input matEndDate placeholder="End date" />
        </mat-date-range-input>

        <mat-datepicker-toggle
            class="text-myAccent w-7"
            matIconSuffix
            [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <!-- Cards -->
    <div class="flex flex-col card-alignment items-center justify-center gap-4">
        <div
            class="flex items-center justify-center w-full bg-[#b4d9ff] gap-6 md:gap-3 gap6 shadow-[inset_-12px_-8px_40px_rgba(0,_0,_0,_0.24)] rounded-lg px-[2rem] py-[2rem] h-full"
        >
            <img
                class="w-[80px] md:w-[60px] w80"
                src="../../../../assets/images/total-income.png"
                alt="Total Income"
            />

            <div
                class="text-[1rem] sm:text-[1.2rem] md:text-[1rem] lg:text-[1.3rem]"
            >
                <p class="font-bold">Total Incomes</p>
                <p class="font-bold"><span>₹</span>20000</p>
            </div>
        </div>
        <div
            class="flex items-center justify-center w-full bg-[#ffafc8] gap-6 md:gap-3 gap6 shadow-[inset_-12px_-8px_40px_rgba(0,_0,_0,_0.24)] rounded-lg px-[2rem] py-[2rem] h-full"
        >
            <img
                class="w-[80px] md:w-[60px] w80"
                src="../../../../assets/images/total-expense.png"
                alt="Total Income"
            />

            <div
                class="text-[1rem] sm:text-[1.2rem] md:text-[1rem] lg:text-[1.3rem]"
            >
                <p class="font-bold">Total Expenses</p>
                <p class="font-bold"><span>₹</span>15000</p>
            </div>
        </div>
        <div
            class="flex items-center justify-center w-full bg-[#bdffe1] gap-6 md:gap-3 gap6 shadow-[inset_-12px_-8px_40px_rgba(0,_0,_0,_0.24)] rounded-lg px-[2rem] py-[2rem] h-full"
        >
            <img
                class="w-[80px] md:w-[60px] w80"
                src="../../../../assets/images/transactions.png"
                alt="Total Income"
            />

            <div
                class="text-[1rem] sm:text-[1.2rem] md:text-[1rem] lg:text-[1.3rem]"
            >
                <p class="font-bold">Transactions</p>
                <p class="font-bold">53</p>
            </div>
        </div>
    </div>

    <!-- Graphs -->
    <div class="grid grid-cols-3 w-full gap-4">
        <div
            class="w-full flex flex-col col-span-3 lg:col-span-2 p-4 shadow rounded-lg"
        >
            <h5 class="font-bold">Cashflow</h5>
            <apx-chart
                class="w-full"
                [chart]="cashflowChart.chart"
                [colors]="cashflowChart.colors"
                [dataLabels]="cashflowChart.dataLabels"
                [grid]="cashflowChart.grid"
                [labels]="cashflowChart.labels"
                [legend]="cashflowChart.legend"
                [plotOptions]="cashflowChart.plotOptions"
                [series]="cashflowChart.series"
                [states]="cashflowChart.states"
                [stroke]="cashflowChart.stroke"
                [tooltip]="cashflowChart.tooltip"
                [xaxis]="cashflowChart.xaxis"
                [yaxis]="cashflowChart.yaxis"
            ></apx-chart>
        </div>
        <div
            class="w-full flex flex-col col-span-3 lg:col-span-1 p-4 shadow rounded-lg"
        >
            <h5 class="font-bold">Profit and Loss</h5>
            <apx-chart
                class="w-full"
                [chart]="profitAndLossChart.chart"
                [colors]="profitAndLossChart.colors"
                [dataLabels]="profitAndLossChart.dataLabels"
                [markers]="profitAndLossChart.markers"
                [plotOptions]="profitAndLossChart.plotOptions"
                [series]="profitAndLossChart.series"
                [stroke]="profitAndLossChart.stroke"
                [tooltip]="profitAndLossChart.tooltip"
                [xaxis]="profitAndLossChart.xaxis"
                [yaxis]="profitAndLossChart.yaxis"
                [title]="profitAndLossChart.title"
            ></apx-chart>
        </div>
    </div>

    <!-- Transaction History -->
    <div class="flex flex-col gap-2 mt-2 items-start w-full">
        <h5 class="font-bold text-xl">Transaction History</h5>

        <div
            class="whitespace-nowrap w-full overflow-x-scroll shadow rounded-lg"
        >
            <table
                mat-table
                [dataSource]="dataSource"
                class="mat-elevation-z8 w-full"
            >
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef>SN</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.position }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="holderName">
                    <th mat-header-cell *matHeaderCellDef>Holder Name</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.holderName }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="paymentMode">
                    <th mat-header-cell *matHeaderCellDef>Payment Mode</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.paymentMode }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Date</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.date }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="creditAmount">
                    <th mat-header-cell *matHeaderCellDef>Credit Amount</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.creditAmount }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="debitAmount">
                    <th mat-header-cell *matHeaderCellDef>Debit Amount</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.debitAmount }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="incluExclu">
                    <th mat-header-cell *matHeaderCellDef>Inclu / Exclu</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.incluExclu }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="taxRate">
                    <th mat-header-cell *matHeaderCellDef>Tax Rate</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.taxRate }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="taxAmount">
                    <th mat-header-cell *matHeaderCellDef>Tax Amount</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.taxAmount }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.description }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="runningBalance">
                    <th mat-header-cell *matHeaderCellDef>Balance</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.runningBalance }}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>
        </div>
    </div>

    <!-- <div class="w-full">
        <div class="container space-y-8 text-md mx-auto">
            <div class="space-y-2">
                <div class="bg-white shadow rounded-lg overflow-hidden">
                    <table
                        class="table text-center lg:text-left table-auto w-full leading-normal"
                    >
                        <thead
                            class="uppercase text-center text-black font-bold bg-[#F1F5F9]"
                        >
                            <tr
                                class="hidden text-left lg:table-row space-x-10"
                            >
                                <th class="text-left p-3">
                                    <p>SN</p>
                                </th>
                                <th class="text-left p-3">
                                    <p>Holder Name</p>
                                </th>
                                <th class="text-left p-3">
                                    <p>Payment Mode</p>
                                </th>
                                <th class="text-left p-3">
                                    <p>Date</p>
                                </th>
                                <th class="text-left p-3">
                                    <p>Credit Amount</p>
                                </th>
                                <th class="text-left p-3">
                                    <p>Debit Amount</p>
                                </th>
                                <th class="text-left p-3">
                                    <p>Description</p>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="flex-1 lg:flex-none">
                            <tr
                                v-for="(person, index) in persons"
                                :key="index"
                                class="border-t first:border-t-0 flex p-1 lg:p-3 lg:table-row flex-col w-full"
                            >
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >SN</label
                                    >
                                    <p class="">1</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Holder Name</label
                                    >
                                    <p class="">Farves Safiyudeen</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Payment Mode</label
                                    >
                                    <p class="">Gpay</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Date</label
                                    >
                                    <p class="">18/04/2023</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Credit Amount</label
                                    >
                                    <p class="">2000</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >debit Amount</label
                                    >
                                    <p class="">-</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Description</label
                                    >
                                    <p class="">This is for Event Organizing</p>
                                </td>
                            </tr>
                            <tr
                                v-for="(person, index) in persons"
                                :key="index"
                                class="border-t first:border-t-0 flex p-1 lg:p-3 lg:table-row flex-col w-full"
                            >
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >SN</label
                                    >
                                    <p class="">2</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Holder Name</label
                                    >
                                    <p class="">Mohamed Nawasudeen</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Payment Mode</label
                                    >
                                    <p class="">Credit Card</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Date</label
                                    >
                                    <p class="">18/04/2023</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Credit Amount</label
                                    >
                                    <p class="">-</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >debit Amount</label
                                    >
                                    <p class="">500</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Description</label
                                    >
                                    <p class="">This is for Travel</p>
                                </td>
                            </tr>
                            <tr
                                v-for="(person, index) in persons"
                                :key="index"
                                class="border-t first:border-t-0 flex p-1 lg:p-3 lg:table-row flex-col w-full"
                            >
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >SN</label
                                    >
                                    <p class="">3</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Holder Name</label
                                    >
                                    <p class="">Mohamed Mushary</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Payment Mode</label
                                    >
                                    <p class="">Debit Card</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Date</label
                                    >
                                    <p class="">18/04/2023</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Credit Amount</label
                                    >
                                    <p class="">1500</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >debit Amount</label
                                    >
                                    <p class="">-</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Description</label
                                    >
                                    <p class="">
                                        This is for Construction Materials
                                    </p>
                                </td>
                            </tr>
                            <tr
                                v-for="(person, index) in persons"
                                :key="index"
                                class="border-t first:border-t-0 flex p-1 lg:p-3 lg:table-row flex-col w-full"
                            >
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >SN</label
                                    >
                                    <p class="">4</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Holder Name</label
                                    >
                                    <p class="">Farves Safiyudeen</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Payment Mode</label
                                    >
                                    <p class="">Gpay</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Date</label
                                    >
                                    <p class="">18/04/2023</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Credit Amount</label
                                    >
                                    <p class="">2000</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >debit Amount</label
                                    >
                                    <p class="">-</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Description</label
                                    >
                                    <p class="">This is for Event Organizing</p>
                                </td>
                            </tr>
                            <tr
                                v-for="(person, index) in persons"
                                :key="index"
                                class="border-t first:border-t-0 flex p-1 lg:p-3 lg:table-row flex-col w-full"
                            >
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >SN</label
                                    >
                                    <p class="">5</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Holder Name</label
                                    >
                                    <p class="">Mohamed Nawasudeen</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Payment Mode</label
                                    >
                                    <p class="">Credit Card</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Date</label
                                    >
                                    <p class="">18/04/2023</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Credit Amount</label
                                    >
                                    <p class="">-</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >debit Amount</label
                                    >
                                    <p class="">500</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Description</label
                                    >
                                    <p class="">This is for Travel</p>
                                </td>
                            </tr>
                            <tr
                                v-for="(person, index) in persons"
                                :key="index"
                                class="border-t first:border-t-0 flex p-1 lg:p-3 lg:table-row flex-col w-full"
                            >
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >SN</label
                                    >
                                    <p class="">6</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Holder Name</label
                                    >
                                    <p class="">Mohamed Mushary</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Payment Mode</label
                                    >
                                    <p class="">Debit Card</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Date</label
                                    >
                                    <p class="">18/04/2023</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Credit Amount</label
                                    >
                                    <p class="">1500</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >debit Amount</label
                                    >
                                    <p class="">-</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Description</label
                                    >
                                    <p class="">
                                        This is for Construction Materials
                                    </p>
                                </td>
                            </tr>
                            <tr
                                v-for="(person, index) in persons"
                                :key="index"
                                class="border-t first:border-t-0 flex p-1 lg:p-3 lg:table-row flex-col w-full"
                            >
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >SN</label
                                    >
                                    <p class="">7</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Holder Name</label
                                    >
                                    <p class="">Farves Safiyudeen</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Payment Mode</label
                                    >
                                    <p class="">Gpay</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Date</label
                                    >
                                    <p class="">18/04/2023</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Credit Amount</label
                                    >
                                    <p class="">2000</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >debit Amount</label
                                    >
                                    <p class="">-</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Description</label
                                    >
                                    <p class="">This is for Event Organizing</p>
                                </td>
                            </tr>
                            <tr
                                v-for="(person, index) in persons"
                                :key="index"
                                class="border-t first:border-t-0 flex p-1 lg:p-3 lg:table-row flex-col w-full"
                            >
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >SN</label
                                    >
                                    <p class="">8</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Holder Name</label
                                    >
                                    <p class="">Mohamed Nawasudeen</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Payment Mode</label
                                    >
                                    <p class="">Credit Card</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Date</label
                                    >
                                    <p class="">18/04/2023</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Credit Amount</label
                                    >
                                    <p class="">-</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >debit Amount</label
                                    >
                                    <p class="">500</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Description</label
                                    >
                                    <p class="">This is for Travel</p>
                                </td>
                            </tr>
                            <tr
                                v-for="(person, index) in persons"
                                :key="index"
                                class="border-t first:border-t-0 flex p-1 lg:p-3 lg:table-row flex-col w-full"
                            >
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >SN</label
                                    >
                                    <p class="">9</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Holder Name</label
                                    >
                                    <p class="">Mohamed Mushary</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Payment Mode</label
                                    >
                                    <p class="">Debit Card</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Date</label
                                    >
                                    <p class="">18/04/2023</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Credit Amount</label
                                    >
                                    <p class="">1500</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >debit Amount</label
                                    >
                                    <p class="">-</p>
                                </td>
                                <td class="p-1 lg:p-3">
                                    <label
                                        class="text-black uppercase font-bold lg:hidden"
                                        for=""
                                        >Description</label
                                    >
                                    <p class="">
                                        This is for Construction Materials
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> -->
</section>
