<ng-container *ngIf="!isUpdate">
    <section
        class="m-5 sm:m-10 p-4 sm:p-6 bg-white rounded-lg w-full flex flex-col gap-4"
    >
        <!-- Breadcrumb -->
        <div class="sm:flex hidden gap-2 items-center">
            <mat-icon
                class="text-black hover:text-myAccent transition-all w-[22px] h-[22px] cursor-pointer"
                svgIcon="heroicons_outline:home"
                (click)="navigateToHome()"
            >
            </mat-icon>
            <p>Accounts</p>
            <span>/</span>
            <p class="font-semibold text-myAccent">Add Account</p>
        </div>

        <!-- Title -->
        <h3 class="font-bold text-[1.5rem] text-center sm:text-left">
            Add Account
        </h3>

        <!-- Content -->
        <form
            class="p-4 sm:p-8 shadow-md rounded-md flex flex-col gap-10 items-center justify-between"
        >
            <div
                class="grid grid-cols-1 sm:grid-cols-2 gap-8 w-full justify-center"
            >
                <div class="flex flex-col gap-2">
                    <label class="font-medium" for="holder-name"
                        >Account Holder Name
                        <span class="text-red-600">*</span></label
                    >
                    <input
                        id="holder-name"
                        type="text"
                        placeholder="Enter Holder Name"
                        class="border border-myAccent p-2 rounded"
                    />
                </div>

                <div class="flex flex-col gap-2">
                    <label class="font-medium" for="account-number"
                        >Account Number
                        <span class="text-red-600">*</span></label
                    >
                    <input
                        id="account-number"
                        type="text"
                        placeholder="Enter Account Number"
                        class="border border-myAccent p-2 rounded"
                    />
                </div>

                <div class="flex flex-col gap-2">
                    <label class="font-medium" for="bank-name">
                        Bank Name <span class="text-red-600">*</span></label
                    >
                    <input
                        id="bank-name"
                        type="text"
                        placeholder="Enter Bank Name"
                        class="border border-myAccent p-2 rounded"
                    />
                </div>

                <div class="flex flex-col gap-2 w-full">
                    <label for="income-category" class="font-medium"
                        >Account Type <span class="text-red-600">*</span></label
                    >
                    <mat-form-field class="w-full mt-0">
                        <mat-select
                            #clubs
                            matInfix
                            disableOptionCentering
                            placeholder="Select Account Type"
                        >
                            <mat-option
                                *ngFor="let accType of accountType"
                                [value]="accType.id"
                                >{{ accType.type }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="flex flex-col gap-2">
                    <label class="font-medium" for="ifsc-code">
                        IFSC Code <span class="text-red-600">*</span></label
                    >
                    <input
                        id="ifsc-code"
                        type="text"
                        placeholder="Enter IFSC Code"
                        class="border border-myAccent p-2 rounded"
                    />
                </div>

                <div class="flex flex-col gap-2">
                    <label class="font-medium" for="opening-balance"
                        >Opening Balance
                    </label>
                    <input
                        id="opening-balance"
                        type="number"
                        placeholder="Enter Opening Balance"
                        class="border border-myAccent p-2 rounded"
                    />
                </div>
            </div>
            <button
                type="submit"
                class="py-2 px-10 rounded text-white transition-all hover:bg-accentHover bg-myAccent w-fit"
            >
                Add Account
            </button>
        </form>
    </section>
</ng-container>

<ng-container *ngIf="isUpdate">
    <section
        class="m-5 sm:m-10 p-4 sm:p-6 bg-white rounded-lg w-full flex flex-col gap-4"
    >
        <div>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora
            veniam aperiam modi expedita, magni inventore deserunt non ratione
            quod error obcaecati laboriosam illum ducimus autem qui doloribus
            tempore earum? Ipsam facilis molestiae laboriosam illum, nobis
            libero tempora, maiores fugit at natus, nesciunt non similique velit
            nisi repellendus tempore aspernatur sed explicabo optio doloribus.
            Quos ea aut suscipit, accusantium officiis corrupti, nisi nam autem
            vero rem perferendis, minima numquam unde dolores tenetur pariatur
            itaque tempora ab perspiciatis architecto fugit ipsum placeat.
            Voluptatum inventore necessitatibus earum? Distinctio fuga neque
            minima minus saepe vitae illum voluptatem voluptates vel quibusdam
            modi ipsum ut, eius pariatur, eaque reprehenderit amet officiis non
            eveniet vero perspiciatis at nisi! Molestias quis saepe blanditiis
            architecto quae unde impedit veniam asperiores atque et, illo
            corrupti iure quaerat repudiandae voluptatem dicta alias nisi in
            officiis nam magnam dolorum! Placeat ratione quis illum quisquam non
            et laudantium aspernatur inventore quae nesciunt quo repudiandae eos
            at animi beatae nulla atque rem libero, iusto vero minima numquam a.
            Adipisci voluptatibus architecto deleniti reprehenderit minima,
            optio molestias enim ullam pariatur laboriosam dolorem ex. Quaerat
            rem aliquid similique a dignissimos, aliquam temporibus? Eligendi
            magnam distinctio dolore in. Minus dolores quas, asperiores porro ex
            eligendi qui incidunt, totam repellendus, fugit veniam quam vitae
            adipisci nihil. Odit modi laboriosam minima, voluptatum aliquam quis
            sit consequuntur aspernatur fugiat nihil delectus laudantium, fuga
            eos quas quos eum. Praesentium nobis pariatur adipisci consequuntur,
            quam nostrum quia, repudiandae cum vero hic ducimus nihil ea
            voluptates maxime nesciunt? Distinctio cupiditate mollitia, animi
            vitae accusantium suscipit adipisci assumenda voluptate ab quis
            dignissimos eveniet sapiente asperiores reiciendis sint, soluta
            harum laboriosam sequi facere est iure quod unde debitis ducimus!
            Reprehenderit excepturi ab ullam esse dolore aliquam eum eveniet
            magnam repudiandae, cum nobis repellendus? Tempora aliquam nihil,
            unde eaque voluptate pariatur, asperiores praesentium perspiciatis
            delectus corporis vitae voluptatibus, voluptatum quam. Eos, quas
            nemo veniam eligendi esse minima dolores cupiditate at laborum
            ducimus rerum, saepe fuga? Et exercitationem iure dolore
            consectetur? Maxime magnam cum laudantium rerum vel explicabo quae
            fuga minus accusantium fugit repellendus amet minima ea ab id,
            inventore maiores. Facilis voluptatem quibusdam culpa obcaecati quod
            qui, repudiandae veniam est tempora reiciendis cupiditate veritatis!
            Dolorum impedit adipisci ipsa obcaecati expedita doloribus
            repudiandae nostrum ad animi? Libero officiis asperiores qui ipsum
            accusamus ea iusto cupiditate id delectus dolorum amet animi minima,
            debitis rem, incidunt alias fugiat consectetur! Deserunt deleniti
            neque at cum porro, voluptatum consequatur necessitatibus, minima et
            quae accusamus dignissimos quisquam? Commodi laborum placeat,
            deserunt non distinctio illum ducimus maiores nesciunt sit sunt nemo
            quae! Blanditiis, quam ipsa impedit, consequatur optio quibusdam
            alias sint atque animi maxime quaerat, sit dolore quod quasi soluta
            laboriosam. Architecto quae adipisci, assumenda ut iure ratione
            quos. Reprehenderit enim distinctio assumenda odit voluptatibus
            pariatur, non repellat explicabo dignissimos doloribus expedita,
            omnis ullam ipsam saepe quisquam hic dicta veritatis quos quam
            exercitationem accusantium? Quam aperiam similique mollitia
            cupiditate, atque vitae eum quas porro quibusdam modi vel in neque
            dolorem voluptatum eos corporis quaerat laudantium, voluptas
            consequatur explicabo placeat est nemo dolorum. Atque?
        </div>
    </section>
</ng-container>
